//Fonts
$text : Montserrat;
$header : Museo300-Regular;
//Colors
$cyan: #00afab;
$cyan-active: #99dfdd;
$grey: #f8f8f8;
//Images
$header-bg : url('../src/assets/img/header.png');

html, body {
    margin: 0;
    padding: 0;
    min-width: 375px;
}

#page {
  font-family: $text;
  color:#000;
  font-size: 1em;
  display: flex;
  flex-direction: column;
}

.text {
    font-size: 0.8em;
    line-height: 1.6;
}

.highlighted {
    color: $cyan;
}

.screen {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
// @media screen and (max-width: 800px) {
//     .screen {
//         padding-left: 20px;
//         padding-right: 20px;
//     }
//   }

.screen-bg {
    background-image:  $header-bg;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 32vw;
    max-height: 550px;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .screen-bg {
        background-size: 220%;
        height: 100vh;
        background-position-y: bottom;
        background-position-x: 85%;
    }
}

.screen-grey {
    background-color: $grey;
}
.screen-column {
    flex-direction: column;
}
.screen-padding3em {
    padding-top: 3em;
    padding-bottom: 3em;
}

.container {
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media screen and (max-width: 800px) {
    .container-gradient {
        background: linear-gradient(#f4f4f4 0%, #edece8 20%, transparent 60%);
    }
}
@media screen and (max-width: 500px) {
    .container-gradient {
        background: linear-gradient(#f4f4f4 0%, #edece8 50%, transparent 60%);
    }
}


.cell {
    margin: 0;
    max-height: 550px; 
    padding: 20px;
    position: relative;
    max-width: 550px;
}
.cell-centered {
    text-align: center;
    margin: auto;
    align-content: center;
}

h1 {
    font-family: $header;
    font-size: 2.625rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}
@media screen and (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
  }

h2 {
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: $cyan;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    height: 45px;
    border: none;
    color: #fff;
    font-family: $text;
    cursor: pointer;
    padding-left: 10%;
    padding-right: 10%;
    margin: 10px;
    transition: 0.3s;
}
.button:hover {
    background-color: $cyan-active;

}

@media screen and (max-width: 800px) {
    .button {
        font-size: 0.9em;
    }
  }


.link {
    color: $cyan;
    text-decoration: none;
}